.PopupBox {
  display: grid;
  grid-template-columns: auto max-content max-content max-content max-content;
  align-items: center;
  gap: 10px;
  padding: 10px;
  width: 500px;
}

.PopupBox input {
  padding: 5px;
}

#Messages {
  color: red;
}

#LikeMessage {
  color: blue;
}

.PopupBox button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 1px;
  width: 17px;
  height: 17px;
  color: rgb(125, 125, 125);
}

.PopupBox button:hover:enabled {
  border-radius: 50px;
  background-color: rgb(230, 230, 230);
}

.PopupBox button:disabled {
  color: rgb(230, 230, 230);
}

/* Don't show the x in the search box */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }