<html>
  <head>
    <title>QT-calculator</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='my-style.css') }}”>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel=”stylesheet” integrity=”sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>
    <body>

    <form action="{{ url_for('index') }}" method="POST">
      <div id="query-container">
          <h1>Intelligent browsing</h1>
          <br>
          <label>Query:</label>
          <input type="text" name="query">
          <br><br>
          <input type="submit" name="next" value="Next">
          <br><br>
      </div>
    </form>

   <h2>Ranking </h2>
   <br>
   {% if result %}
     <p> Returning query {{result}}
   {%else%}
     No query
   {% endif %}

    </body>
</html>

